[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if sys.version_info
    class .*\(.*(Error|Exception)\):
    ^ *\.\.\.$

[run]
omit =
    tests/data/*
    tests/util/*
