[settings]
known_third_party = bs4,cleverwrap,feedparser,forecastiopy,freezegun,geoip2,googlemaps,imgurpython,irclib,isodate,lxml,mcstatus,multidict,nltk,pytest,requests,responses,sqlalchemy,tweepy,venusian,watchdog,yarl
