A_D <aunderscored@gmail.com>                        A_D <A_D@snoonet.org>
A_D <aunderscored@gmail.com>                        A_D <africandeath@gmail.com>
A_D <aunderscored@gmail.com>                        A_D <A-UNDERSCORE-D@users.noreply.github.com>
A_D <aunderscored@gmail.com>                        A-UNDERSCORE-D <africandeath@gmail.com>
Andy Edwards <edwardslabs@users.noreply.github.com> Andrew Edwards <andrewthomasedwards@gmail.com>
linuxdaemon <linuxdaemon.irc@gmail.com>             Aspen (linudaemon) <linuxdaemon.irc@gmail.com>
linuxdaemon <linuxdaemon.irc@gmail.com>             linuxdaemon <linuxdaemon@snoonet.org>
linuxdaemon <linuxdaemon.irc@gmail.com>             linuxdaemon <linuxdaemon@users.noreply.github.com>
linuxdaemon <linuxdaemon.irc@gmail.com>             linuxdaemon <walter@walterbarnes.net>
linuxdaemon <linuxdaemon.irc@gmail.com>             linuxdemon1 <walter@walterbarnes.net>
Luke Rogers <lukeroge@gmail.com>                    Luke <lukeroge@gmail.com>
Luke Rogers <lukeroge@gmail.com>                    lukeroge <lukeroge@gmail.com>
neersighted <neersighted@neersighted.com>           neersighted <neersighted@myopera.com>
neersighted <neersighted@neersighted.com>           Neer Sighted <neersighted@myopera.com>
neersighted <neersighted@neersighted.com>           neersighted <neersighted@neersighted.com>
neersighted <neersighted@neersighted.com>           Neer Sighted <neersighted@neersighted.com>
neersighted <neersighted@neersighted.com>           neersighted <n@neersighted.com>
Rory Holland <github@rory.sh>                       Rory Holland <rory@drop.rory.sh>
Rory Holland <github@rory.sh>                       Rory Holland <rory.holland@ee.co.uk>
Vault108 <vault108@users.noreply.github.com>        Vault108 <Vault108@users.noreply.github.com>
Zarthus <zarthus@zarth.us>                          Zarthus <buughost@gmail.com>
znuxor <znuxor@gmail.com>                           Znuxor <znuxor@gmail.com>
