ci:
  skip:
  - pylint
  - mypy
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 6e2418c5521b7d606e72914dced3253f9ace1205  # frozen: v3.4.0
  hooks:
  - id: trailing-whitespace
    args: ['--markdown-linebreak-ext=md,markdown']
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-ast
  - id: check-byte-order-marker
  - id: check-merge-conflict
  - id: debug-statements
  - id: detect-private-key
    exclude: tests/data/.*
  - id: check-builtin-literals
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: pretty-format-json
    args:
    - --indent
    - '4'
    - --autofix
    - --no-sort-keys
  - id: check-toml
  - id: fix-encoding-pragma
    args:
    - --remove
- repo: https://github.com/psf/black
  rev: e66be67b9b6811913470f70c28b4d50f94d05b22  # frozen: 20.8b1
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 473d150c1db60f4614a574e30993e9e0d3ca0cce  # frozen: 5.7.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: eccb8cef2c7987014012c3f07be550415c4d379e  # frozen: v1.7.1
  hooks:
  - id: python-no-eval
  - id: python-no-log-warn
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy
    language: system
    types: [python]
  - id: pylint
    name: pylint
    entry: pylint
    args:
    - '-s'
    - 'no'
    language: system
    types: [python]
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: a27ba454fd1cfd7ce20b60f5a1aee310fd66df82  # frozen: 0.1.0
  hooks:
  - id: yamlfmt
    args:
    - --mapping
    - '2'
    - --sequence
    - '2'
    - --offset
    - '0'
    - --width
    - '120'
    - -e
    - -p
