alembic==1.19.2
attrs==25.4.0
beautifulsoup4==4.14.3
cleverwrap==0.3.0.2
feedparser==6.0.14
googlemaps==4.10.0
imgurpython==1.1.7
isodate==0.7.2
lxml==6.1.3
mcstatus==12.2.1
multidict==6.7.1
nltk==3.10.3
psutil==7.2.2
py-irclib==0.8.2
pydantic-extra-types==2.11.1
pydantic[email]==2.13.4
pyowm==3.5.0
requests==2.34.2
sqlalchemy==2.0.52
typing_extensions==4.15.0
urllib3==2.7.0
watchdog==6.0.0
yarl==1.22.0
