coverage == 5.5
freezegun == 1.1.0
mypy == 0.910
pylint == 2.11.0
pytest == 6.2.5
pytest-asyncio == 0.15.1
pytest-cov == 2.12.1
pytest-random-order == 1.0.4
responses == 0.13.4
types-requests == 2.25.6
types-setuptools == 57.0.2
types-six == 1.16.1
types-toml == 0.1.5
types-freezegun == 1.1.0
-r requirements.txt
