freezegun == 1.4.0
mypy == 1.9.0
pre-commit == 3.7.0
pylint == 3.1.0
pytest == 8.1.1
pytest-asyncio == 0.20.3
pytest-cov == 4.1.0
pytest-random-order == 1.1.1
pytest-pythonhashseed == 1.0.1
responses == 0.25.0
typing_extensions == 4.10.0
types-requests ~= 2.31.0.20240311
-r requirements.txt
