SQLAlchemy ==1.4.54
attrs ==25.4.0
beautifulsoup4 ==4.14.2
cleverwrap == 0.3.0.2
feedparser ==6.0.12
googlemaps == 4.10.0
imgurpython == 1.1.7
isodate ==0.7.2
lxml ==6.0.2
mcstatus ==12.0.5
multidict ==6.7.0
nltk == 3.9.2
psutil ==7.1.0
pydantic[email] ==2.12.0
pydantic-extra-types ==2.10.6
py-irclib ==0.7.0
pyowm ==3.5.0
requests ==2.32.5
typing_extensions ==4.15.0
urllib3 ==2.5.0
watchdog ==6.0.0
yarl ==1.22.0
