SQLAlchemy == 1.4.22
attrs == 20.3.0
beautifulsoup4 == 4.9.3
chardet == 4.0.0
cleverwrap == 0.3.0.2
feedparser == 6.0.8
forecastiopy == 0.22
googlemaps == 4.5.3
imgurpython == 1.1.7
isodate == 0.6.0
lxml == 4.6.3
mcstatus == 6.4.0
multidict == 5.1.0
nltk == 3.6.2
psutil == 5.8.0
py-irclib == 0.3.0
requests == 2.26.0
tweepy == 3.10.0
urllib3 == 1.26.6
venusian == 3.0.0
watchdog == 2.1.3
yarl == 1.6.3
