---
name: Mirror to gonzobot branch

on:
  push:
    branches: [master]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
        git fetch --all
        git push -f origin master:gonzobot
