---
name: pre-commit

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
    - name: Install dependencies
      run: |
        pip install -U pip setuptools cython wheel
        pip install -Ur requirements-dev.txt
    - uses: pre-commit/action@v2.0.0
