# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-ver:
#        - "3.5.4"
        - "3.5"
        - "3.6"
        - "3.7"
        - "3.8"
        - pypy3
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-ver }}
      uses: actions/setup-python@v2.1.2
      with:
        python-version: ${{ matrix.python-ver }}
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-${{ matrix.python-ver }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.python-ver }}-pip-
    - name: Install apt deps
      run: sudo apt-get update && sudo apt-get install -qq -y libenchant-dev libxml2-dev libxslt1-dev
    - name: Install dependencies
      run: |
        pip install -U pip setuptools cython wheel
        pip install -Ur travis/requirements.txt
    - name: Test with pytest
      run: pytest
      env:
        PYTHONASYNCIODEBUG: 1
        PYTHONPATH: .
    - uses: codecov/codecov-action@v1.0.12
      with:
        name: build-${{ matrix.python-ver }}
        fail_ci_if_error: true
